@import '~antd/dist/antd.css';

.layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.player-container {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 400px;
}

.player-active {
  border: 1px;
  border-color: #bae7ff;
  border-style: solid;
  border-radius: 10px;
  background: #e6f7ff;
}

.player-winner {
  border: 1px;
  border-color: #d9f7be;
  border-style: solid;
  border-radius: 10px;
  background: #f6ffed;
}

.player-container > div {
  text-align: center;
}

.nav-menu {
  float: left;
  line-height: 64px;
}

@media only screen and (max-width: 768px) {
  .x-768 {
    display: none;
  }
  
  ul > li > a > i.anticon.mobile-icon {
    margin-right: 0px;
  }
}