@import '~antd/dist/antd.css';

.layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.game-grid-container {
  margin: 16px;
}

.player-container {
  display:flex;
  justify-content:center;
  align-items:center;
  height: 400px;
  margin: 16px;
}

.player-active {
  border: 1px;
  border-color: #91d5ff;
  border-style: solid;
  background: #bae7ff;
  border-radius: 4px;
}

.player-inactive {
  border: 1px;
  border-color: #d9d9d9;
  border-style: solid;
  background: #e8e8e8;
  border-radius: 4px;
}

.player-winner {
  border: 1px;
  border-color: #ffd666;
  border-style: solid;
  background: #ffe58f;
  border-radius: 4px;
}

.player-tie {
  border: 1px;
  border-color: #ffd666;
  border-style: solid;
  background: #ffe58f;
  border-radius: 4px;
}

.player-container > div {
  text-align: center;
}

.nav-menu {
  float: left;
  line-height: 64px;
}

.field-button-container {
  width: 100%;
	padding-bottom: 100%; 
	position: relative;
}

.field-button-container > div {
	position: absolute;
	top: 0; bottom: 0; left: 0; right: 0;
}

.field-button {
  width: 100%;
  height: 100%;
}

.ant-btn[disabled].field-winning-button {
  background-color: #ffe58f;
}

.field-button > span {
  font-size: 48px;
}

@media only screen and (max-width: 576px) {
  .layout {
    height: auto;
  }

  .player-container {
    height: 140px;
  }
}

@media only screen and (max-width: 768px) {
  .x-768 {
    display: none;
  }
  
  ul > li > a > i.anticon.mobile-icon {
    margin-right: 0px;
  }
}