@import '~antd/dist/antd.css';

.layout {
  height: 100vh;
}

.footer {
  text-align: center;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255,255,255,.2);
  margin: 16px 24px 16px 0;
  float: left;
}

.nav-menu {
  float: left;
  line-height: 64px;
}

@media only screen and (max-width: 768px) {
  .x-768 {
    display: none;
  }
  
  ul > li > a > i.anticon.mobile-icon {
    margin-right: 0px;
  }
}